ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--black);
}

p {
  font-size: inherit;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem;
}

.btn {
  background-color: var(--green);
  padding: 0.5rem 1.3rem;
  color: white;
  border-radius: 5px;
}

.btn.light {
  background-color: var(--light-green);
  color: var(--green);
}

.title {
  font-size: 35px;
  font-family: "Muli Bold";
  padding: 1rem 0;
  text-align: center;
}

@media (min-width: 480px) {
  .content {
    padding: 1rem;
    margin: 0 2rem;
  }
}

@media (min-width: 768px) {
  .content {
    margin: 0 3rem;
  }
  p {
    font-size: 18px;
  }
}

@media (min-width: 980px) {
  .content {
    margin: 0 5rem;
  }
  p {
    font-size: 18px;
  }
}

@media (min-width: 1280px) {
  .content {
    margin: 0 8.5rem;
  }
}

@media (min-width: 1440px) {
  .content {
    margin: 0 12.5rem;
  }
}